<footer class="c-footer">
    <div class="u-container c-footer__container">
        <p>&copy; {{ site.title }} {{ site.time | date: '%Y' }}</p>
        <p>
            {% if site.twitterUsername %}<a target="_blank" href="https://twitter.com/{{ site.twitterUsername }}">Twitter</a>{% endif %}
            {% if site.githubUsername %}<a target="_blank" href="https://github.com/{{ site.githubUsername }}">Github</a>{% endif %}
            {% if site.dribbbleUsername %}<a target="_blank" href="https://dribbble.com/{{ site.dribbbleUsername }}">Dribbble</a>{%
            endif %}
            {% if site.codepenUsername %}<a target="_blank" href="http://codepen.io/{{ site.codepenUsername }}">CodePen</a>{% endif %}
            {% if site.linkedinUsername %}<a target="_blank" href="{{ site.linkedinUsername }}">LinkedIn</a>{% endif %}

        </p>
    </div>
</footer>
