<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{{ "/" | prepend: site.baseurl }}/img/germazzagentile.jpg"/>
    <meta property="og:image:secure_url" content="{{ "/" | prepend: site.baseurl }}/img/germazzagentile.jpg" />
    <meta property="fb:app_id" content="716790381767999" >
    <meta name="keywords" content="programacion, musica, varios, ger, german, mazza, gentile, mazza gentile, ger mazza gentile, german mazza gentile">
    <meta http-equiv="keywords" content="programacion, musica, varios, ger, german, mazza, gentile, mazza gentile, ger mazza gentile, german mazza gentile">
    <meta name="resource-type" content="Document">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description"
          content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700|Roboto+Mono:400,500' rel='stylesheet'
          type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <script type="text/javascript" src="{{ "/js/germg.js" | prepend: site.baseurl }}"></script>
</head>
