<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Un blog con temas de programacion, musica y mucha buena onda!">
        <meta http-equiv="description" content="Un blog con temas de programacion, musica y mucha buena onda!">
        <meta name="keywords" content="programacion, musica, varios, ger, german, mazza, gentile, mazza gentile, ger mazza gentile, german mazza gentile">
        <meta http-equiv="keywords" content="programacion, musica, varios, ger, german, mazza, gentile, mazza gentile, ger mazza gentile, german mazza gentile">
        <meta name="resource-type" content="Document">
        <meta name="distribution" content="all">
        <meta name="robots" content="all">
        <meta name="revisit" content="15 days">
        <meta property="og:image" content="http://germg.github.io/images/germazzagentile.jpg"/>
        <meta property="og:image:secure_url" content="http://germg.github.io/images/germazzagentile.jpg" />
        <meta property="fb:app_id" content="716790381767999" >

        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="image_src" type="image/jpeg" href="http://germg.github.io/images/germazzagentile.jpg">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- JQuery -->
        <link rel="stylesheet" href="/js/jquery-ui-1.10.4.custom/css/redmond/jquery-ui-1.10.4.custom.min.css">

        <script src="http://germg.github.io/js/jquery-ui-1.10.4.custom/js/jquery-1.10.2.js"></script>
        <script src="http://germg.github.io/js/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
        <script type="text/javascript" src="http://germg.github.io/js/jquery.easing-sooper.js"></script>
        <script type="text/javascript" src="http://germg.github.io/js/jquery.sooperfish.js"></script>
        <script src="http://germg.github.io/js/germg.js"></script>
    </head>
    <body>
      <div class="main">
        <header>
          <div class="logo">
            <div class="logo_text">
              <h1><a href="http://germg.github.io/">Germán Mazza Gentile</a></h1>
              <h2>Programación, música y mucha buena onda!</h2>
            </div>
          </div>
          <nav>
            <div class="menu_container">
              <ul class="sf-menu" id="nav">
                <li><a href="/index.html">Inicio</a></li>
                <!--<li><a href="#">Example Drop Down</a>
                  <ul>
                    <li><a href="#">Drop Down One</a></li>
                    <li><a href="#">Drop Down Two</a>
                      <ul>
                        <li><a href="#">Sub Drop Down One</a></li>
                        <li><a href="#">Sub Drop Down Two</a></li>
                        <li><a href="#">Sub Drop Down Three</a></li>
                        <li><a href="#">Sub Drop Down Four</a></li>
                        <li><a href="#">Sub Drop Down Five</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Drop Down Three</a></li>
                    <li><a href="#">Drop Down Four</a></li>
                    <li><a href="#">Drop Down Five</a></li>
                  </ul>
                </li>-->
                <li><a href="/about.html">Acerca de mi</a></li>
              </ul>
            </div>
          </nav>
        </header>
        <div class="site_content">
          <div class="sidebar_container">
            <!--<img class="paperclip" src="images/paperclip.png" alt="paperclip" />
            <div class="sidebar">
              <h3>Latest News</h3>
              <h4>New Website Launched</h4>
              <h5>January 1st, 2012</h5>
              <p>2012 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
            </div>
          
            <img class="paperclip" src="http://germg.github.io/images/paperclip.png" alt="paperclip" />-->
            <div class="sidebar">
              <h3>Desarrollo web</h3>
              <ul>
                <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
                <li><a href="http://bootsnipp.com/" target="_blank">Bootsnipp</a></li>
                <li><a href="http://codepen.io/" target="_blank">Codepen</a></li>
              </ul>
            </div>
            <!--<img class="paperclip" src="http://germg.github.io/images/paperclip.png" alt="paperclip" />-->
            <div class="sidebar">
              <h3>Música</h3>
              <ul>
                <li><a href="http://www.redonditosdeabajo.com.ar/" target="_blank">Redonditos de abajo</a></li>
                <li><a href="http://www.skayweb.com.ar/" target="_blank">Skay</a></li>
                <li><a href="http://www.divididos.com.ar/" target="_blank">Divididos</a></li>
              </ul>
            </div>
            <div class="sidebar">
              <h3>Útiles</h3>
              <ul>
                <li><a href="https://www.iconfinder.com/" target="_blank">Iconfinder</a></li>
                <li><a href="http://html-color-codes.info/" target="_blank">Html color codes</a></li>
              </ul>
            </div>

          </div>
          <div class="content">
            {{ content }}
          </div>
        </div>
        <div id="scroll">
          <a title="Ir arriba" class="top" href="#"><img src="http://germg.github.io/images/top.png" alt="top" /></a>
        </div>
        <footer>
          <p><a href="http://germg.github.io/index.html">Inicio</a> | <a href="http://germg.github.io/about.html">Acerca de mi</a></p>
          <p>
            <a href="mailto:ger.mazzagentile@gmail.com" title="Enviar un email">Germán Mazza Gentile</a>
          </p>
          <span title="Perfil en Linkedin">
            <a href="http://ar.linkedin.com/pub/german-mazza-gentile/1b/778/162" target="_blank"><img id="logoLinkedin" src="http://germg.github.io/images/linkedin.png" class="contactImage" alt="" /></a>
          </span>
          <span title="germg en Github">
            <a href="http://github.com/germg" target="_blank"><img id="logoLinkedin" src="http://germg.github.io/images/github.png" class="contactImage" alt="" /></a>
          </span>
        </footer>
      </div>
    </body>
</html>
