<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- JQuery -->
        <link rel="stylesheet" href="/javascript/jquery-ui-1.10.4.custom/css/redmond/jquery-ui-1.10.4.custom.min.css">

        <script src="/javascript/jquery-ui-1.10.4.custom/js/jquery-1.10.2.js"></script>
        <script src="/javascript/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>

    </head>
    <body>
      <script type="text/javascript">
        $(function() {
            $( ".button" ).button();
            $( document ).tooltip();
            $( ".accordion" ).accordion({
              collapsible: true,
              heightStyle: "content"
            });
        });

      </script>


        <div class="site">
          <div class="header">
            <div class="middle">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/about.html">Acerca de mi</a>
            </div>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Germán Mazza Gentile<br />
                <a href="mailto:ger.mazzagentile@gmail.com">ger.mazzagentile@gmail.com</a><br />
              </p>
            </div>
            <div class="contact" title="Perfil en LinkedIn">
              <div class="contactIcons">
                <a href="http://ar.linkedin.com/pub/german-mazza-gentile/1b/778/162" target="_blank"><img id="logoLinkedin" src="http://germg.github.io/images/linkedin.png" class="contactImage" /></a>
              </div>
              <div class="contactIcons" title="germg">
                <a href="http://github.com/germg" target="_blank"><img id="logoLinkedin" src="http://germg.github.io/images/github.png" class="contactImage" /></a>
              </div>
            </div>
          </div>
        </div>
    </body>
</html>
